.heightFull{
    min-height: 100%;
}

.bgGradient{
    background: linear-gradient(to right, #06bfff 50%, #2b74ff 100%);
}

.bgGradientError{
  /* background: linear-gradient(to right, #d48b00 50%, #f94000 100%); */
  background: linear-gradient(to right, #ff8800 50%, #f90000 100%);
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }